@font-face {
	font-family: 'Dual 300';
	src: url('/assets/fonts/Dual-300.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Dual 400';
	src: url('/assets/fonts/Dual-400.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Dual 600';
	src: url('/assets/fonts/Dual-600.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Dual 200';
	src: url('/assets/fonts/Dual-200.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
